# OpenAPI
springdoc.swagger-ui.url=/openapi.yml

# Base de Datos
spring.datasource.url=jdbc:h2:file:./database
spring.datasource.username=sa
spring.datasource.password=sa
spring.datasource.driver-class-name=org.h2.Driver
spring.jpa.hibernate.ddl-auto=create
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect
spring.jpa.hibernate.use-new-id-generator-mappings=false

# Jwt-Visado
jwt.environment=desarrollo
cors.allowedOrigins=http://localhost:*,http://127.0.0.1:*
visado.area=
visado.aplicacion=
visado.entorno=
# visado.profileFallback=

# Alfresco Config
# alfresco.usuario=
# alfresco.pass=
# alfresco.url.login=https://desgdcorp.gobex.pri/alfresco/api/-default-/public/cmis/versions/1.1/browser
# alfresco.url.site=/Sitios/NOMBREPROYECTO/documentLibrary
# spring.servlet.multipart.enabled=true
# spring.servlet.multipart.max-file-size=10MB
# spring.servlet.multipart.max-request-size=10MB

# Email Config
# spring.mail.host=envios.gobex.pri
# spring.mail.port=25
# spring.mail.username=
# spring.mail.password=
# spring.mail.defaultEncoding=UTF-8
# spring.mail.properties.mail.smtp.auth=true
# spring.mail.properties.mail.smtp.timeout=20000
# spring.mail.properties.mail.smtp.starttls.enable=false
# spring.mail.properties.mail.debug=true
